article{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    background-color: #fff;
    
    margin: calc(20px + var(--nav-height)) 15px 20px 15px;

    padding: 10px 35px 20px 35px;
}

#quickbar{
    position: fixed;
    left: 0px;
    top: var(--nav-height);
    display: none;
    justify-content: center;
    width: 150px;
    height: 1290px;
    border: 1px solid #000;
    margin-right: 10px;
    background-color: #fff;
}

.quickbar-show{
    display: flex !important;
}

#home-explore-section-content{
    display: flex;
    margin-top: 35px;
}

#home-explore-title{
    display: flex;
    justify-content: space-around;
    margin-right: 25px;
    justify-content: flex-start;
}

#home-explore-hr{
    margin-top: 5px;
    margin-bottom: 0px;
}

#home-explore-title{
    font-family: proxima-nova-bold, Arial, sans-serif;
    font-size: 1.15rem;
    padding: 8px 16px;    
    margin: 0px 10px;
}

#home-explore-main-container{
    display: flex;
    flex-direction: column;
    width: 55%;
}

#home-explore-main-container img {
    width: 100%;
    border-radius: 10px;
}

a.item {
    display: block;
}

.item:hover{
    cursor: pointer;
}

.item:hover img{
    filter: brightness(0.85);
}

.item-title{
    font-family: proxima-nova-bold, Arial, sans-serif;
}

.item:hover .item-title {
    color: var(--primary-blue-link);
    text-decoration: underline;
}

.item:hover .item-description{
    text-decoration: underline;
    text-decoration-color: var(--text-color-third);
    color: black;
}

.item-author{
    display: flex;
    width: fit-content;
    color: var(--text-color-secondary);
    font-size: 0.8rem;
}


#home-explore-main-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#home-explore-main-title{
    display: flex;
    font-size: 1.5rem;
}

#home-explore-main-author{
    font-size: 1rem;
    margin-top: 8px;
}

#home-explore-articles-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 2.5%;
    flex-grow: 1;
}

#home-explore-sperator-hr{
    display: none;
    width: calc(100% + 30px);
    margin: 20px -15px;
    background-color: black;
}

.home-explore-articles-item{
    display: flex;
    align-items: center;
}

.home-explore-articles-item img{
    height: 75px;
    width: 75px;
    border-radius: 10px;
}

.home-explore-articles-item-text{
    display: flex;
    margin-left: 25px;
    height: 40px;
    flex-direction: column;
    justify-content: space-between;
}

.home-explore-articles-item-hr {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}


.home-section-hr{
    width: calc(100% + 70px);
    margin: 28px 0px;
}

.home-section{
    display: block;             
    width: 100%;
}

.home-section-header{
    margin-bottom: 20px;
    width: 100%;
}

.home-section-title{
    font-size: 1.25rem;
}

.home-section-description{
    color: var(--text-color-secondary);
    margin-top: 4px;
}

.home-section-content{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    gap: 20px;
    width: 100%;
    scrollbar-width: none;
}

.home-section-arrowRight{
    position: fixed;
    color: red;
}


.home-section-item{
    width: 220px;
    flex-shrink: 0;
}

.home-section-item img{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.home-section-item-text{
    margin-top: 10px;
}

.home-section-item-description{
    font-size: 0.9rem;
    margin-top: 10px;
}

.home-section-item-info{
    color: var(--text-color-secondary);
    margin-top: 5px;
}

.home-section-item-outer-link {
    display: flex;
    color: inherit;
    margin-top: 30px;
    color: var(--text-color-secondary);
}

.home-split-screen{
    display: flex;
    width: 100%;
    margin-top: -28px;
    margin-bottom: -28px;
}

.home-split-vertical-hr{
    display: flex;
    width: 0px;
    margin: 0px 35px;
}

.home-split-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 28px 0px;
}

.home-split-title{
    font-size: 1.25rem;
}

.home-split-content{
    margin-top: 20px;
}

.home-split-item{
    display: flex;
    align-items: center;
}

.home-split-item.item {
    display: flex;
}


.home-split-item img{
    height: 60px;
    width: 60px;
    border-radius: 10px;
}

.home-split-item-text{
    display: flex;
    margin-left: 12px;
    font-size: 0.875rem;
    flex-direction: column;
    justify-content: space-between;
}

.home-split-item-title{
    margin-bottom: 3px;
}

.home-likeComments-icons{
    display: flex;
    margin-left: 8px;
}

.home-likeComments-icon{
    margin-left: 7px;
}

.home-split-number{
    margin-left: 3px;
}

.home-split-item-hr {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

.home-split-item:hover{
    cursor: pointer;
    filter: brightness(0.85);
}

.home-section-item-author{
    margin-top: 5px;
}


.home-author:hover{
    text-decoration: underline;
    color: var(--primary-blue-link);
}


@media (max-width: 1050px) {
    #home-explore-section-content{
        flex-wrap: wrap;
    }

    #home-explore-sperator-hr{
        display: flex;
    }

    #home-explore-main-container{
        flex-grow: 1;
    }

    .home-split-vertical-hr{
        display: flex;
        width: calc(100% + 70px);
        margin: 0px -35px;
    }

    .home-split-screen{
        flex-wrap: wrap;
    }
}


@media (max-width: 500px) {
    article {
        border-radius: 0px;
        margin: 50px 0px;
        padding: 10px 15px 20px 15px;
    }

    #home-explore-section-content{
        margin-top: 20px;
    }

    #home-explore-main-container img {
        width: calc(100% + 30px);
        border-radius: 10px;
        margin-left: -15px;
        border-radius: 0;
    }
    
    .home-split-vertical-hr{
        width: calc(100% + 30px);
        margin: 0px -15px;
    }

    .home-section-hr{
        width: calc(100% + 30px);
        margin: 28px 0px;
    }
}