
body{
    margin: 0px;
    background-color: #ecedee;
    font-family: proxima-nova-regular, Arial, sans-serif;
    
    --nav-temp-border: 0px solid red;
    --section-temp-border: 1px solid black;
    --primary-color: #ffffee;
    --text-color-secondary: #585F65;
    --text-color-third: #878f96;
    --nav-height: 50px;
    --primary-blue-link: #007bff;
    
    --gray-link: #dbdbdb;
    --blue-link: #005bd3;
    --primary-gray: #585f65;
    --secondary-gray: #43484d;
    --light-gray: #b4b4b4;
}

hr{
    color: #d1d4d7;
}

@font-face{
    font-family: proxima-nova-bold;
    src: url('fonts/ProximaNova-Bold.otf');
}

@font-face {
    font-family: proxima-nova-regular;
    src: url('fonts/ProximaNova-Regular.ttf');
}

a{
    display: flex;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

/* a:hover{
    color: #007bff;
    text-decoration: underline;
} */

.underlined-link:hover{
    color: var(--primary-blue-link);
    text-decoration: underline;
}